@import "tailwindcss";

p {
  font-family: var(--font-poppins);
  color: theme("colors.slate.400");
}

a {
  font-family: var(--font-poppins);
}

h1 {
  font-family: var(--font-roboto-mono);
}

ul li {
  position: relative;
  padding-left: 15px;
  color: theme("colors.slate.400");
  margin-bottom: 8px;
}

ul li::before {
  content: "";
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  background: theme("colors.slate.600");
  border-radius: 50%;
  overflow: hidden;
}

/* Typewritter Component styles */
.typewritter-box {
  overflow: hidden;
}

.anim-typewriter {
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
  padding-right: 5px;
}

/* Timeline component styles */
.timeline {
  border-left: 2px solid theme("colors.slate.600");
}

.timeline::before {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  top: -6px;
  left: -6px;
  background: theme("colors.slate.950");
  border: 1px solid theme("colors.slate.600");
  border-radius: 50%;
  overflow: hidden;
}

.timeline::after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  bottom: -6px;
  left: -6px;
  background: theme("colors.slate.950");
  border: 1px solid theme("colors.slate.600");
  border-radius: 50%;
  overflow: hidden;
}

.timelineSection::before {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  top: 15px;
  left: -6px;
  background: theme("colors.slate.950");
  border: 1px solid theme("colors.slate.600");
  border-radius: 50%;
  overflow: hidden;
}

/* ProjectBox component styles */
.project-box {
  transition: 0.3s all;
}

.project-box:hover {
  -webkit-box-shadow: 0 3px 10px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px 10px 0 rgba(255, 255, 255, 0.3);
}

.project-box:hover img {
  transform: rotateY(0);
}

.project-box img {
  transition: 0.3s all;
  transform: perspective(800px) rotateY(25deg);
}

.project-box img:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

/* Home Service Boxes */
.home-service-boxes {
  gap: 15px;
}

.home-service-box {
  flex: 1 1 calc(50% - 15px);
}
